{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Change Password</title>

<!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
       {% include 'includes/dashboard_sidebar.html' %}
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="card">
                <div class="card-body pt-0">
                  <!-- Tab Menu -->
                  <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          href="#"
                          data-toggle="tab"
                          >Change Your Password</a
                        >
                      </li>
                    </ul>
                  </nav>
                  <!-- /Tab Menu -->

                  <!-- Tab Content -->
                  <div class="tab-content pt-0 ">
                    <!-- Appointment Tab -->
                    <div class="col-md-12 col-lg-6 login-right w-100 m-auto">
                        <div class="login-header">
                          <h2>Reset Password</h2>
                          {% include 'includes/alerts.html'%}
                        </div>
          
                        <form action="{% url 'changePassword' %}" method="POST">
                          {% csrf_token %}
                          <div class="form-group form-focus">
                            <input
                              type="password"
                              class="form-control floating"
                              name="currentPassword"
                            />
                            <label class="focus-label">Password</label>
                          </div>
                          <div class="form-group form-focus">
                            <input
                              type="password"
                              class="form-control floating"
                              name="newPassword"
                            />
                            <label class="focus-label">New Password</label>
                          </div>
                          <div class="form-group form-focus">
                            <input
                              type="password"
                              class="form-control floating"
                              name="newPassword2"
                            />
                            <label class="focus-label">Confirm Password</label>
                          </div>
                          <button
                            class="btn btn-primary btn-block btn-lg login-btn text-dark"
                            type="submit"
                            style="background-color: #09e5ab; border: 1px solid #09e5ab"
                          >
                            Change Password
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                    <!-- /Appointment Tab -->
                  </div>
                  <!-- Tab Content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
    <!-- /Main Wrapper -->

{% endblock %}