{% extends "base.html" %} {% load static %} {% block content %}
<title>Forgot Password</title>

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Account Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img
                src="{% static 'images/signup.png' %}"
                class="img-fluid"
                alt="Forgot"
              />
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                {% include 'includes/alerts.html' %}
                <h3>Forgot Password?</h3>
                <p class="small text-muted">
                  Enter your email to get a password reset link
                </p>
              </div>

              <!-- Forgot Password Form -->
              <form action="{% url 'forgotPassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group form-focus">
                  <input
                    type="email"
                    class="form-control floating"
                    name="email"
                  />
                  <label class="focus-label">Email</label>
                </div>
                <div class="text-right">
                  <a class="forgot-link" href="{% url 'login' %}"
                    >Remember your password?</a
                  >
                </div>
                <button
                  class="btn btn-primary btn-block btn-lg login-btn text-dark"
                  type="submit"
                  style="background-color: #09e5ab; border: 1px solid #09e5ab"
                >
                  Reset Password
                </button>
              </form>
              <!-- /Forgot Password Form -->
            </div>
          </div>
        </div>
        <!-- /Account Content -->
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
{% endblock %}
