{% extends "base.html" %} {% load static %} {% block content %}
<title>Reset Password</title>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Login Tab Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img
                src="{% static 'images/signup.png' %}"
                class="img-fluid"
                alt="Login"
              />
            </div>

            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                <h2>Reset Password</h2>
                {% include 'includes/alerts.html'%}
              </div>

              <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group form-focus">
                <input
                type="password"
                class="form-control floating"
                name="password"
                />
                <label class="focus-label">Password</label>
                </div>
                <div class="form-group form-focus">
                  <input
                    type="password"
                    class="form-control floating"
                    name="confirm_password"
                  />
                  <label class="focus-label">Repeat Password</label>
                </div>
                                <button
                  class="btn btn-primary btn-block btn-lg login-btn text-dark"
                  type="submit"
                  style="background-color: #09e5ab; border: 1px solid #09e5ab"
                >
                  Confirm Password
                </button>
                
              </form>
            </div>
          </div>
        </div>
        <!-- /Login Tab Content -->
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
{% endblock %}
