{% extends "base.html"%} {% load static %} {% block content %}
<title>My Patients</title>

<!-- Main Wrapper -->
<div class="main-wrapper">
  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Profile Sidebar -->
        {% include 'includes/dashboard_sidebar.html' %}
        <!-- /Profile Sidebar -->

        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="row row-grid">
            {% for pat in app %}
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="card widget-profile pat-widget-profile">
                <div class="card-body">
                  <div class="pro-widget-content">
                    <div class="profile-info-widget">
                      <a href="#" class="booking-doc-img">
                        <img
                          src="{{pat.patient_app.user.patientprofile.profile_pic.url}}"
                          alt="User Image"
                        />
                      </a>
                      <div class="profile-det-info">
                        <h3>
                          <a href="#"
                            >{{pat.patient_app.user.first_name}}
                            {{pat.patient_app.user.last_name}}</a
                          >
                        </h3>

                        <div class="patient-details">
                          <h5>
                            <b>Gender :</b>
                            {{pat.patient_app.user.get_gender_display}}
                          </h5>
                          <h5 class="mb-0">
                            <i class="fas fa-map-marker-alt"></i>
                            {{pat.patient_app.user.address}}, Nepal
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="patient-info">
                    <ul>
                      <li>
                        Phone <span>{{pat.patient_app.user.phone_number}}</span>
                      </li>
                      <li>Age <span>{{pat.patient_app.user.dob}}</span></li>
                      <li>
                        Blood Group
                        <span>{{pat.patient_app.user.patient.blood}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
</div>
<!-- /Main Wrapper -->

{% endblock %}
