{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Edit Profile</title>

      <!-- Page Content -->
      <div class="content">
        {% include 'includes/alerts.html' %}
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
       {% include 'includes/dashboard_sidebar.html' %}
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="card">
                <div class="card-body pt-0">
                  <!-- Tab Menu -->
                  <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          href="assets/#pat_appointments"
                          data-toggle="tab"
                          >Edit Your Profile</a
                        >
                      </li>
                    </ul>
                  </nav>
                  <!-- /Tab Menu -->

                  <!-- Tab Content -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <form action="{% url 'editProfile' %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>
                                First Name
                              </label>
                              {{user_form.first_name}}
                            </div>
                            <div class="form-group col-md-6">
                              <label>
                                Last Name
                              </label>
                              {{user_form.last_name}}
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>
                                Phone Number
                              </label>
                              {{user_form.phone_number}}
                            </div>
                            <div class="form-group col-md-6 custom-file">
                              <label>
                                Profile Picture
                              </label>
                              {{patient_form.profile_pic}}
                            </div>
                          </div>

                          <div class="form-group">
                            <label>
                                Location</label>
                            {{user_form.address}}
                          </div>

                          <div class="form-group">
                            <label>
                              Address 1
                            </label>
                            {{patient_form.address_1}}
                          </div>
                          <div class="form-group">
                            <label>
                              Address 2
                            </label>
                            {{patient_form.address_2}}
                          </div>
<input type="submit" value="Save" class="btn btn-primary">
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- Tab Content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
    <!-- /Main Wrapper -->

{% endblock %}




