{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Your Appointments</title>

  <!-- Page Content -->
  <div class="content">
    {% include 'includes/alerts.html' %}
    <div class="container-fluid">
      <div class="row">
        <!-- Profile Sidebar -->
    {% include 'includes/dashboard_sidebar.html' %}
        <!-- / Profile Sidebar -->

        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="card">
            <div class="card-body pt-0">
              <!-- Tab Menu -->
              <nav class="user-tabs mb-4">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="assets/#pat_appointments"
                      data-toggle="tab"
                      >Appointments</a
                    >
                  </li>
                </ul>
              </nav>
              <!-- /Tab Menu -->

              <!-- Tab Content -->
              <div class="tab-content pt-0">
                <!-- Appointment Tab -->
                <div
                  id="pat_appointments"
                  class="tab-pane fade show active"
                >
                  <div class="card card-table mb-0">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-center mb-0">
                          <thead>
                            <tr>
                              <th>Doctor</th>
                              <th>Appt Date</th>
                              <th>Booking Date</th>
                              <th>Amount</th>
                              <th>Follow Up</th>
                              <th>Status</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for app in appoint %}
                            <tr>
                              <td>
                                <h2 class="table-avatar">
                                  <a
                                    href="assets/doctor-profile.html"
                                    class="avatar avatar-sm mr-2"
                                  >
                                    <img
                                      class="avatar-img rounded-circle"
                                      src="{{app.doctor_app.user.doctorprofile.profile_pic.url}}"
                                      alt="User Image"
                                    />
                                  </a>
                                  <a href="{% url 'doctorDetail' app.doctor_app.specialist.slug app.doctor_app.slug %}"
                                    >Dr. {{app.doctor_app.user.first_name}} {{app.doctor_app.user.last_name}}<span>{{app.doctor_app.specialist}}</span></a
                                  >
                                </h2>
                              </td>
                              <td>
                                {{app.app_date}} 
                                <span class="d-block text-info"
                                  >{{app.app_time}}</span
                                >
                              </td>
                              <td>{{app.created_at}}</td>
                              <td>$160</td>
                              <td>16 Nov 2019</td>
                              <td>
                                {% if app.status == "confirm" %}
                                <span
                                  class="badge badge-pill bg-success-light"
                                  >{{app.status}}</span
                                >
                                {% elif app.status == "pending" %}
                                <span
                                  class="badge badge-pill bg-warning-light"
                                  >{{app.status}}</span
                                >
                                {% else %}
                                <span
                                  class="badge badge-pill bg-danger-light"
                                  >{{app.status}}</span
                                >
                                {% endif %}
                              </td>
                              <td class="text-right">
                                <div class="table-action">
                                  <a
                                    href="{% url 'appointmentDetails' app.doctor_app.specialist.slug app.doctor_app.slug app.id %}"
                                    class="btn btn-sm bg-info-light"
                                  >
                                    <i class="far fa-eye"></i> View
                                  </a>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Appointment Tab -->
              </div>
              <!-- Tab Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
</div>
<!-- /Main Wrapper -->

{% endblock %}