*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/*.wrapper {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  z-index: -1;*/
/*  display: flex;*/
/*}*/

/*.container-1 {*/
/*  width: 280px;*/
/*  top: 85rem;*/
/*  height: 350px;*/
/*  background: #fff;*/
/*  position: relative;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
/*  transition-timing-function: ease-in-out;*/
/*  transition-duration: 0.2s;*/
/*}*/

/*.container-1.profile-img {*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  border-radius: 50%;*/
/*  position: absolute;*/
/*  top: -65px;*/
/*  left: 85px;*/
/*  border: 5px solid #ffffff;*/
/*  transition-timing-function: ease-in-out;*/
/*  transition-duration: 0.2s;*/
/*}*/

/*.container-2 {*/
/*  top: 85rem;*/
/*  width: 280px;*/
/*  height: 350px;*/
/*  background: #fff;*/
/*  position: relative;*/
/*  border-radius: 10px;*/
/*  display: flex;*/
/*  margin-left: 150px;*/
/*  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
/*  transition-timing-function: ease-in-out;*/
/*  transition-duration: 0.2s;*/
/*}*/

/*.container-2 .profile-img {*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  border-radius: 50%;*/
/*  position: absolute;*/
/*  top: -65px;*/
/*  left: 85px;*/
/*  border: 5px solid #ffffff;*/
/*  transition-timing-function: ease-in-out;*/
/*  transition-duration: 0.2s;*/
/*}*/

/*.profile-img:hover {*/
/*  transform: scale(1.1);*/
/*  border: 5px solid #1da1f2;*/
/*}*/

/*.content {*/
/*  padding: 65px 20px 20px;*/
/*  font-size: 15px;*/
/*}*/

/*.content .sub-content {*/
/*  text-align: center;*/
/*}*/

/*.sub-content,*/
/*.card-detail {*/
/*  font-size: 15px;*/
/*  padding-top: 20px;*/
/*}*/

/*.sub-content,*/
/*.card-title {*/
/*  font-size: 25px;*/
/*}*/

/*.btn-2,*/
/*.btn-1 {*/
/*  clear: both;*/
/*  text-align: center;*/
/*  width: 100%;*/
/*  height: 35px;*/
/*  background: #1da1f2;*/
/*  color: #fff;*/
/*  text-transform: uppercase;*/
/*  line-height: 38px;*/
/*  font-weight: 600;*/
/*  cursor: pointer;*/
/*  border-radius: 10px;*/
/*  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
/*  position: relative;*/
/*  top: 3rem;*/
/*  width: 15rem;*/
/*  transition-timing-function: ease-in-out;*/
/*  transition-duration: 0.2s;*/
/*}*/

/*.btm-1,*/
/*.btn-2:hover {*/
/*  transform: scale(1.05);*/
/*}*/

/*.container-1,*/
/*.container-2:hover {*/
/*  transform: scale(1.05);*/
/*}*/

/*#Home-card {*/
/*  padding-top: 40px;*/
/*  text-align: center;*/
/*  font-weight: bold;*/
/*  font-style: italic;*/
/*  font-size: 3rem;*/
/*}*/
#service #card {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

#service #card .item1 {
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 30px;
    width: 21rem;
    height: 30rem;
    box-sizing: border-box;
    background-color: #ffffff;
    transition: 0.3s all linear;
    margin-top: 20px;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 5px 10px 18px #888888;
}

#service #card .item1:hover {
    background-color: #1da1f2;
}

#service #card .item1:hover h3,
#service #card .item1:hover p {
    color: #ffffff;
}

#service #card .item1:hover a {
    color: rgb(0, 0, 0);
    background-color: white;
}

#service #card .item1:hover img {
    border: 3px solid white;
    box-sizing: border-box;
}

#service #card .item1 h3 {
    color: #000000;
}

#service #card .item1 p {
    color: #777777;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 13px;
}

#service #card .item1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: white;
    /* margin: 0 auto 30px; */
    transition: 0.3s border linear;
}

.para {
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
}

.text {
    padding-top: 1.4rem;
    font-size: 1.8rem;
}


.more {
    font-size: 1.5rem;
    background: #1da1f2;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
    color: #fff;
}

.head {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 5rem;
}
/* ----------------------------------------------Prabesh-------------------------------------------------- */

.image {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* background-color: #00a86b; */
  background-color: #1da1f2;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
  margin: auto;
}

.image-text-container img {
  width: 70px;
  height: 70px;
  color: white;
  margin: auto;
}

.image:hover {
  background-color: white;
  border: 3px solid #1da1f2;
}

.col.text-center h3 {
  margin-top: 20px;
}

/* -------------------------------------------------------Sanjaya-------------------------------------------------------------- */

.carousel-item {
  /* for background image */
  min-height: 92vh;
  background: black;
  color: white;
  background-position: center;
  background-size: cover;
}

.bg-img {
  position: absolute;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
}

.carousel-caption {
  position: absolute;
  top: 7rem;
  right: 0;
  left: 6rem;
  width: 36rem;
  float: left;
}

.carousel-caption a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
}

#Appoint {
  border: none;
  background: none;
}

.carousel-caption a:hover {
  cursor: pointer;
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: white;
  transition: 0.5s;
}

.carousel-caption h5 {
  font-size: 4rem;
}

.carousel-caption p {
  font-size: 1.1rem;
  padding-left: 1rem;
}

/* ----------------------- */

#register {
  margin-left: 5px;
  color: white;
  background: #1da1f2;
  padding: 5px 10px;
}

#login {
  padding: 5px 10px;
  color: black;
}

#logo {
  color: #333333;
}

#navbar {
  background: #ffffff;
}

.nav-link {
  display: inline-block;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

/*-------------------------------------gaurav-------------------------------------------------*/

section.row.testimonials {
  margin-top:10em;
  padding: 20px;
}

section.row.testimonials .owl-carousel {
  cursor: move;
  display: flex;
  justify-content: space-evenly;
}

section.row.testimonials .owl-carousel .item {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 30px;
  width: 50rem;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: 0.3s all linear;
  margin-top: 20px;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 5px 10px 18px #888888;
}

section.row.testimonials .owl-carousel .item:hover {
  background-color: #1da1f2;
  cursor: pointer;
}

section.row.testimonials .owl-carousel .item:hover h3,
section.row.testimonials .owl-carousel .item:hover p {
  color: #ffffff;
}

section.row.testimonials .owl-carousel .item:hover img {
  border: 3px solid white;
  box-sizing: border-box;
}

section.row.testimonials .owl-carousel .item h3 {
  color: #6b4476;
}

section.row.testimonials .owl-carousel .item p {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 13 px;
}

section.row.testimonials .owl-carousel .item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 30px;
  transition: 0.3s border linear;
}

section.row.testimonials h2 {
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 33px;
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

section.row.testimonials .owl-dots {
  margin: 20px auto 0;
  /*for centering the dots*/
  text-align: center;
}

section.row.testimonials .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #885796;
  margin-right: 5px;
  display: inline-block;
}

section.row.testimonials .owl-dot.active {
  background: #ffffff;
}

section.row.testimonials .owl-dots.disabled {
  display: block !important;
}

/* Footer */

.footer-clean {
  padding: 10px 0;
  background-color: #fff;
  color: #4b4c4d;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: center;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 5px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
