/* ----------Login---------- */
.login{
    position: absolute;
    top: 14vh;
    left: 34vh;
    border-radius: 30px;
    box-shadow: 2px 6px 15px rgb(105, 102, 102);
    padding: 90px;
    background-color: #F7F6FB;
}

@media screen and (max-width: 1024px) {
    .login{
        left: 4vh;
    }
}

