{% extends "adminBase.html"%} {% load static %} {% block content %}
<title>Login</title>  
<section class="container-fluid m-auto">
    <div class="row login m-auto">
      <div class="col">
        <img src="{% static 'images/admin/img-01.webp' %}" width="500" class="img-fluid" alt="" />
      </div>
      <div class="col-6 right-form">
        <div class="pb-3">
          <h1>Admin Login</h1>
        </div>

        <form action="{% url 'adminLogin' %}" method="POST">
            {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-center"
              >Email address</label
            >
            <input
            autocomplete="on"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              name="email"
            />

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-3 mb-2">
            Login
          </button>
        </form>
      </div>
    </div>
  </section>

  {% endblock %}
