{% extends "base.html"%}
{% load static %}
{% block content %}
<title>Virtual HealthCare</title>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/slide-01.jpg" class="bg-img d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Years of experience</h5>
                    <p>
                        Our online specialties have an average of 15 years of experience and are graduates of the top 50 medical institutions in Nepal. You're choosing the greatest degree of care when you pick PlushCare.
                        <br><br> We are committed to assisting mankind at all times, thanks to our cutting-edge facilities and world-class personnel.

                    </p>
                    <a href="/home" class="btn btn-light rounded-pill">MAKE AN  APPOINTMENT</a>

                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/slide-02.jpg" class="bg-img d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Take Care of Your Health</h5>


                    <p>The first step towards a healthy life is to schedule an appointment. We are driven by the enormous trust that our patients have placed in us, and we will continue to adhere to our beliefs and standards with zeal in the future.

                        <br><br>


                    </p>
                    <a href="/home" class="btn btn-light rounded-pill">MAKE AN  APPOINTMENT</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/slide-03.jpg" class="bg-img d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Qualifide Team of Experts</h5>
                    <p>
                        All the doctors have been trained to provide online care across the whole spectrum of services we provide, so you can get help from anybody in the team. When giving you with care. <br><br> They will always attach their registration
                        number to your Patient Record for your reference.
                    </p>
                    <a href="/home" class="btn btn-light rounded-pill">MAKE AN  APPOINTMENT</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container">
        <h1 class="text-center mt-4 mb-5">Why Choose Us?</h1>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="fas fa-vial fa-3x"></i>
                    <h3>More experience</h3>
                    <p>Every year, more than a million people come to Mayo Clinic for care. Our highly specialized experts are deeply experienced in treating rare and complex conditions.</p>
                </div>
                <div class="col text-center">
                    <i class="fas fa-database fa-3x"></i>
                    <h3>Enormours Database</h3>
                    <p>We have the largest collection of available doctor in the country. We provide the best of the best service for the user where our database expands from clinc to doctor you can choose from.</p>
                </div>
                <div class="col text-center">



                    <i class="fas fa-heartbeat fa-3x"></i>
                    <h3>Trusted By Thousands</h3>


                    <p>At Mayo Clinic, every aspect of your care is coordinated and teams of experts work together to provide exactly the care you need. What might take months elsewhere can often be done in days here.</p>



                </div>
                <div class="col text-center">


                    <i class="fas fa-phone-volume fa-3x"></i>

                    <h3>Best Customer Services</h3>


                    <p>Mayo Clinic experts are some of the best in the world. In the U.S. News &amp; World Report rankings of top hospitals, Mayo Clinic is consistently ranked among the top hospitals in the nation.</p>



                </div>
            </div>
        </div>
    </div>
    </div>
    <h1 class="text-center border-bottom mt-5 mb-4">Our Top Specialties</h1>
    <div>
        <div class="specialties-div d-flex justify-content-around text-center mt-4">
            <div class="image-text-container">
                <div class="image">
                    <img src="{% static 'images/cardio.svg' %}" alt="cardio" />
                </div>
                <p class="img-des">Cardio</p>
            </div>

            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/entsp.svg" alt="Ent Specialist" />
                </div>
                <p class="img-des">Ent Specialist</p>
            </div>
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/gastro.svg" alt="Gastroenterologist" />
                </div>
                <p class="img-des">Gastroenterologist</p>
            </div>
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/neuro.svg" alt="Neurologist" />
                </div>
                <p class="img-des">Neurologist</p>
            </div>
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/oncolo.svg" alt="Oncologist" />
                </div>
                <p class="img-des">Oncologist</p>
            </div>
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/ortho.svg" alt="Orthopedic" />
                </div>
                <p class="img-des">Orthopedic</p>
            </div>
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/plumno.svg" alt="Pulmonologist" />
                </div>
                <p class="img-des">Pulmonologist</p>
            </div>
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/images/urologist.svg" alt="Urologist" />
                </div>
                <p class="img-des">Urologist</p>
            </div>
        </div>
    </div>
    </div>
    <hr>
{#    <div class="container-service">#}
{#        <h3 id="Home-card">What We Provide</h3>#}
{#        <div class="cards">#}
{#            <div class="container-2">#}
{#                <img src="../static/images/support.jpg" alt="" class="profile-img">#}
{##}
{#                <div class="content">#}
{#                    <div class="sub-content">#}
{#                        <h1 class="card-title"></h1>Medical Support</h1>#}
{#                        <H2 class="card-detail">We provide the best online services for the patient during this pandemical situation where user can use the virtual communication service.</H2>#}
{#                    </div>#}
{#                    <div class="btn-2 ">More Detail</div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="container-2">#}
{#                <img src="../static/images/appoint.jpg" alt="" class="profile-img">#}
{##}
{#                <div class="content">#}
{#                    <div class="sub-content">#}
{#                        <h1 class="card-title"></h1>Book Appointment</h1>#}
{#                        <H2 class="card-detail">Want to book and Appointment for the doctor? We can provide the best doctors for you best solution from this Online appointment services.</H2>#}
{#                    </div>#}
{#                    <div class="btn-2 ">More Detail</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <section id="service">
        <h1 class="head">What We Provide</h1>
        <div id="card">
            <div class="item1">
                <img src="../static/images/support.jpg" alt="service" />
                <h3 class="text">Medical Support</h3>
                <p class="para">We provide the best online services for the patient during this pandemical situation where user can use the virtual communication service.</p>

                <a href="" class="more">More Detail</a>
            </div>
            <div class="item1">
                <img src="../static/images/appoint.jpg" alt="service" />
                <h3 class="text">Book Appointment</h3>
                <p class="para">Want to book and Appointment for the doctor? We can provide the best doctors for you best solution from this Online appointment services.</p>
                <a href="" class="more">More Detail</a>

            </div>
            <div class="item1">
                <img src="../static/images/support.jpg" alt="service" />
                <h3 class="text">Other Services</h3>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, commodi. Eveniet assumenda incidunt saepe fuga repellendus illum quis. Molestias, maiores.</p>
                <a href="" class="more">More Detail</a>
            </div>
        </div>
    </section>
    <section class="row testimonials">
        <hr>
        <h1 class="text-center m-4"> User Testimonial</h1>
        <div class="owl-carousel">
            <div class="item">
                <img src="../static/images/patient1.jpg" alt="patient" class="patient" />
                <h3>Neil Patel </h3>
                <p>The services in this website is great. I am very satisfied with the services provided</p>
            </div>
            <div class="item">
                <img src="../static/images/777-200x200.jpg" alt="patient" class="patient" />
                <h3>Rabina Shrestha</h3>
                <p>I could easily make an appointment with the doctor and chat with them. No need to go to hospital in this current situation. Stay Safe.</p>
            </div>
            <div class="item">
                <img src="../static/images/patient.jpg" alt="patient" class="patient" />
                <h3>Rita Gautam</h3>
                <p>This website has helped me in urgent situation. I am very greatful... </p>
            </div>
        </div>
    </section>


    <!-- END OF TESTIMONIALS -->
 
{% endblock %}